:root {
    --fg: black;
    --bg: white;
    --acc: #0099ff;
    --highlight: lightgray;
}

* {
    font-family: sans-serif;
    color: var(--fg);
    transition-duration: 0.2s;
    transition-timing-function: ease-out;
}

h1, h2, h3, h4, .accent, a {
    color: var(--acc);
}

.flex-right, .flex-down {
    display: flex;
    flex-wrap: wrap;

    &.flex-right{ flex-direction: row; }
    &.flex-down{ flex-direction: column; }

    &.center {
        justify-content: center;
        align-items: center;
    }
}

.top-bar {
    display: grid;
    grid-template-columns: repeat(2, auto);
    align-items: center;
}

.table {
    & .row {
        display: grid;
        gap: 0.5em;

        &:hover {
            background-color: var(--highlight);
        }

        &.head {
            font-weight: bold;
        }
    }
}
