:root {
    --fg: black;
    --bg: white;
    --acc: #0099ff;
    --highlight: lightgray;
}

* {
    font-family: sans-serif;
    color: var(--fg);
    transition-duration: 0.2s;
    transition-timing-function: ease-out;
}

h1, h2, h3, h4, .accent, a, .clickable {
    color: var(--acc);
}

#main-wrapper {
    max-width: calc(1920px * 2 / 3);
    margin-inline: auto;
    padding-inline: 1em;
}

.flex-right, .flex-down {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em;

    &.flex-right{ flex-direction: row; }
    &.flex-down{ flex-direction: column; }

    &.center {
        justify-content: center;
        align-items: center;
    }

    &.separate-children > * {
        padding: 1em;
        border: 1px solid var(--highlight);
        max-width: 50vw;
    }
}

.ghost {
    opacity: 0.5;
}

.success {
    color: rgb(51, 176, 51);
}
.danger, .error {
    color: rgb(203, 44, 44);
}

.clickable {
    cursor: pointer;
    user-select: none;
}

img.inline {
    display: inline;
    height: 1em;
}
img.thumbnail {
    max-height: 10em;
}

.top-bar {
    align-items: center;
    gap: 1em;

    & > div {
        gap: 0;
    }
}

.table {
    display: grid;
    margin-block: 1em;
    gap: 0 10mm;
    width: fit-content;

    & span:hover & {
        background-color: var(--highlight);
    }

    & hr {
        grid-column: 1 / span var(--col-count);
        width: 100%;
    }

    & .head {
        font-weight: bold;
    }
}

.gallery {
    & img {
        max-height: 10em;
    }
}

.color-tile {
    --dim: 1em;

    width: var(--dim);
    height: var(--dim);
    border: 1px solid var(--fg);
    border-radius: 0.25em;
    background-color: var(--tile-color);
    display: inline-block;
}
