@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

:root {
    --fg: black;
    --bg: white;
    --acc: #1dc27d;
    --highlight: lightgray;

    --success: rgb(51, 176, 51);
    --error: rgb(203, 44, 44);
}

* {
    font-family: "Titillium Web", sans-serif;
    color: var(--fg);
    transition-duration: 0.2s;
    transition-timing-function: ease-out;
}

body {
    background-color: var(--acc);
}

h1, h2, h3, h4, .accent, a, .clickable {
    color: var(--acc);
}

#main-wrapper {
    max-width: calc(1920px * 2 / 3);
    margin-inline: auto;
    padding-inline: 1em;
}

.flex-right, .flex-down {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em;

    &.flex-right{ flex-direction: row; }
    &.flex-down{ flex-direction: column; }

    &.center {
        justify-content: center;
    }
    &.middle {
        align-items: center;
    }
    &.stretch {
        justify-content: space-between;
    }

    &.separate-children > * {
        padding: 1em;
        border: 1px solid var(--highlight);
        max-width: 50vw;
        margin-block: 1em;
    }
}

.ghost {
    opacity: 0.5;
}

.success {
    color: var(--success) !important;
}
.danger, .error {
    color: var(--error) !important;
}

.clickable, .button, button {
    cursor: pointer;
    user-select: none;
}

img.inline {
    display: inline;
    height: 1em;
}
img.thumbnail {
    max-height: 10em;
}

.top-bar {
    align-items: center;
    gap: 1em;

    & > div {
        gap: 0;
    }
}

.table {
    display: grid;
    margin-block: 1em;
    gap: 0 10mm;
    width: fit-content;

    & span:hover & {
        background-color: var(--highlight);
    }

    & hr {
        grid-column: 1 / span var(--col-count);
        width: 100%;
    }

    & .head {
        font-weight: bold;
    }
}

.gallery {
    & img {
        max-height: 10em;
    }
}

.color-tile {
    --dim: 1em;

    width: var(--dim);
    height: var(--dim);
    border: 1px solid var(--fg);
    border-radius: 0.25em;
    background-color: var(--tile-color);
    display: inline-block;
}

/************** building blocks ********************/

header > *, footer > * {
    margin: 0;
}
footer > span {
    & > *::after {
        content: "|";
        color: var(--highlight);
        user-select: none;
    }
    & > *:last-child::after {
        content: "";
    }
}


.input-container {
    display: flex;
    flex-direction: column;
}

input, select, textarea {
    font-family: inherit;
    font-size: 1em;
    border: 1px solid var(--highlight);
    background-color: var(--bg);
}

button, .button {
    font-size: 1em;
    border: 1px solid var(--highlight);
    color: var(--acc);
    background-color: var(--bg);

    text-decoration: none;

    &:hover {
        color: var(--bg) !important;
        background-color: var(--acc);

        &.danger {
            background-color: var(--error);
        }
    }
}

section > .flex-right:first-child {
    padding-bottom: 0.5em;
    margin-bottom: 0.5em;
    border-bottom: 1px solid var(--highlight);

    & > h2 {
        margin: 0;
    }
}

/************** distinguishing elements ********************/

/* blockiness */
.section,
header, footer, section {
    box-shadow: 0 0.5em 0.5em #00000044;
    padding: 1em;
    border: 2px solid var(--highlight);
    background-color: var(--bg);
}

/* roundness */
.rounded,
.section, header, footer, section,
input, select, textarea,
button, .button {
    border-radius: 0.5em;
}

/* spaciness */
.padded,
.section, header, footer, section,
input, select, textarea,
button, .button {
    padding: 0.5em 1em;
}
