a {
    &.no-underline {
        text-decoration: none;
    }
}

img {
    &.inline {
        height: 1em;
    }
}

.listing, .tiling {
    --tile-width: 240px;

    &.small-tiles {
        --tile-width: 188px;
    }
    &.stretch-tiles {
        --tile-width: auto;
    }

    &.large-gap {
        gap: calc(var(--gap) * 3)
    }

    & > *{
        outline: 3px double hsl(var(--shade));
        background-color: hsl(var(--bg));
        list-style: none;
        padding: 0;
        overflow: hidden;

        display: flex;
        justify-content: space-between;

        & .thumbnail-wrapper {
            overflow: hidden;
            position: relative;
            width: 100%;

            aspect-ratio: 1 / 1;
            align-content: center;
            max-height: var(--tile-width);

            & > .tag > .ribbon {
                position: absolute;
                z-index: 10;
                top: 0;
            }

            & > * {
                width: 100%;
                height: 100%;
                max-width: none;
                object-fit: contain;
            }
            &.covering > * {
                object-fit: cover;
            }
        }

        & .content-wrapper {
            & > * {
                overflow-x: hidden;
            }

            & > .flex-right:first-child {
                & h3, & h4 {
                    margin-block: 0.6em;
                }

                & > img, & > svg {
                    height: 1.5em;
                }
            }
        }

        & .lower-split {
            padding-bottom: 0.5em;
        }

        &:hover {
            outline: 3px solid var(--acc3);

            & .thumbnail-wrapper > img {
                scale: 1.15;
            }
        }
    }

    &.tiling {
        justify-content: center;

        &.flex-right > * {
            width: var(--tile-width);
        }

        & .thumbnail-wrapper {
            /* height: var(--tile-width); */
        }

        &.to-the-left {
            justify-content: left !important;
        }
    }

    &.listing {
        & .thumbnail-wrapper {
            width: calc(var(--tile-width) * 0.65);
            height: calc(var(--tile-width) * 0.65);
        }

        & .cart-item {
            display: grid;
            gap: calc(var(--gap) * 3);
            grid-template-columns: auto 1fr auto;
            align-items: center;
            padding: 0.5em 1em;

            & .thumbnail-wrapper {
                width: calc(var(--tile-width) * 0.3);
                height: calc(var(--tile-width) * 0.3);
            }
            & h3, & h4 {
                margin: 0;
            }
            & .input-container {
                grid-template-columns: auto 1fr;

                & label {
                    font-weight: bold;
                }
            }
        }
    }
}

.product-tag {
    & .ribbon {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        width: 100%;
        height: 2em;
        overflow: hidden;

        font-weight: bold;
        font-size: var(--text-size);
        color: var(--text-color);
        background-color: var(--ribbon-color);
    }

    &.top-bar > .ribbon {
    }
    &.right-corner > .ribbon {
        right: 0;
        rotate: 45deg;
        transform-origin: 100% 0%;
        --position-factor: 3;
        translate: 30px 104px;
    }
}

.product-thumbnail {
    max-height: 5em;
    max-width: 5em;
}

table {
    width: 100%;
    border-spacing: 0;
    margin: 1em 0;

    & thead, & tfoot {
        background-color: var(--acc2);
        text-align: left;
    }

    & tbody {
        & > tr:nth-child(even) {
            background-color: hsla(var(--shade), 0.5);
        }
    }

    & th, & td {
        padding: 0.25em 0.5em;
    }
}

.variant-tile, .size-tile {
    --dim: 18px;

    width: var(--dim);
    height: var(--dim);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    vertical-align: baseline;
    text-align: center;

    overflow: hidden;

    outline: 1px solid hsla(var(--fg), 0.25);
    box-sizing: border-box;
    border-radius: 0.25em;
    background-color: var(--tile-color);

    background-repeat: no-repeat !important;
    background-position: center center !important;
    background-size: contain !important;

    position: relative;

    &.active, a > &:hover {
        outline: 3px solid var(--tertiary);

        &.active:not(.custom)::after {
            content: "✓";
            position: absolute;
            top: 0; left: 0; right: 0; bottom: 0;
            display: flex;
            justify-content: center;
            align-items: center;

            font-weight: bold;
            color: var(--tertiary);
        }
    }
    &.small {
        --dim: 9px;
    }
    &.no-color {
        --space: 15%;
        --w-col-1: gold;
        --w-col-2: #222;
        background: repeating-linear-gradient(to bottom right, var(--w-col-1), var(--w-col-1) var(--space), var(--w-col-2) var(--space), var(--w-col-2) calc(var(--space) * 2));
    }

    &.size-tile {
        width: auto;
        white-space: nowrap;
        text-align: center;
        font-weight: bold;
        font-size: calc(0.8 * var(--dim));
        padding: 0 5px;
        user-select: none;

        &.active {
            background-color: var(--tertiary);
        }
    }
}
