img {
    &.inline {
        display: inline;
        height: 1em;
    }
    &.thumbnail {
        max-height: 10em;
    }
}

.gallery {
    & img {
        max-height: 10em;
    }
}

.logs pre {
    overflow: auto;
    max-width: 50em;
}

.variant-tile, .size-tile {
    --dim: 1em;

    width: var(--dim);
    height: var(--dim);
    border: 1px solid var(--fg);
    border-radius: 0.25em;
    background-color: var(--tile-color);

    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;

    display: inline-flex;
    justify-content: center;
    align-items: center;
    vertical-align: top;
    text-align: center;

    user-select: none;
    overflow: hidden;

    &.size-tile {
        width: calc(2 * var(--dim));
        text-align: center;
        font-weight: bold;
        white-space: nowrap;
    }
}

.scrollable {
    overflow: auto;
    max-height: 70vh;

    &.horizontally {
        max-width: 30vw;
        margin: 0 auto;
    }
}

ul[role="specification"] {
    &, & ul {
        padding-left: 2em;
    }
}
